<div class="flex h-screen font-open-sans">
  <!-- Side Navigation -->
  <div class="bg-gray-800 text-white w-64">
    <h2 class="text-2xl font-bold text-white text-center my-14">OpenSky</h2>

    <ul class="mb-[25vh]">
      <li class="mb-2 text-right p-6 hover:bg-gray-400 hover:text-black">
        <a class="block" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="mb-2 text-right p-6 hover:bg-gray-400 hover:text-black">
        <a class="block" routerLink="/dashboard/profile">Profile</a>
      </li>
      <li class="mb-2 text-right p-6 hover:bg-gray-400 hover:text-black">
        <a class="block" routerLink="/dashboard/settings">Settings</a>
      </li>
      <li class="mb-2 text-right p-6 hover:bg-gray-400 hover:text-black">
        <a class="block" routerLink="/dashboard/messages">Messages</a>
      </li>
    </ul>

    <button
      class="block text-center w-full hover:underline"
      (click)="openModal()"
    >
      Logout
    </button>

    <app-modal *ngIf="isModalOpen">
      <div class="text-center text-black">
        <h2 class="text-2xl font-bold mb-4">Logout</h2>
        <p class="text-lg mb-6">Are you sure you want to logout?</p>
        <div class="flex justify-center">
          <button
            class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 mr-4 rounded"
            (click)="logout()"
          >
            Logout
          </button>
          <button
            class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
            (click)="closeModal()"
          >
            Cancel
          </button>
        </div>
      </div>
    </app-modal>
  </div>

  <!-- Main Content -->
  <div class="flex flex-col flex-1 bg-gray-100">
    <router-outlet></router-outlet>
  </div>
</div>
